<!-- testing -->
<br>
<br>
  <div class="row search-div">
  <div class="col s6 offset-s3">
    <i class="mdi-action-search prefix search"></i>
    <label for="searchword">Quick Search</label>
    <input id="search" class="searchword" type="search" required>
    <input type="submit" value="Submit "class="btn searchTweet">
  </div>
</div>

<!-- display -->
<div class="row" id="tweets">
</div>
<!-- end testing -->

<% @analyses.each do |a| %>
<div class="row">
  <div class="col s3">
    <h4><%= a.keyword %></h4>
    <div class="col s4">
      <h6><%= a.created_at.to_date %></h6>
    </div>
  </div>
<div class="row">
  <table class="centered hoverable responsive-table analyses-table teal lighten-4">
    <thead>
      <tr>
        <th data-field="number">Number</th>
        <th data-field="name">Sentiment</th>
        <th data-field="number">Polarity</th>
      </tr>
    <thead>
    <tbody>
      <% a.analysis.each do |k, v| %>
      <tr>
        <td><%= v.split(",").first.to_s.delete!("[") %></td>
        <td><%= k %></td>
        <td><%= v.split(",").last.to_s.delete!("]").to_f.round(3) %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <% end %>
</div>


