<div class="row search-div">
  <div class="col s6 offset-s3">
    <%= form_tag searches_path, method: "post" do %>
    <i class="mdi-action-search prefix"></i>
      <%= label_tag "Save Search" %>
      <%= text_field_tag "search[word]" %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= submit_tag "New Save Search", class: "btn cyan darken-2" %>
      <a href="#!" class="btn cyan darken-2" onclick="Materialize.showStaggeredList('#staggered-test')">Show Saved Searches</a>
    <% end %>
  </div>
</div>

<div class="row user-header">
  <div class="col s3 offset-s2">
    <ul id="staggered-test">
  <% @saved_searches.each do |ss| %>
      <li class="saved-search-item"><h6><strong>Word:</strong> '<%= link_to "#{ss.word}", search_path(ss) %>' <br><%= link_to "Remove", search_path(ss), method: "patch" %></h6> </li><br>
  <% end %>
    </ul>
  </div>
</div>

<% @saved_searches.each do |ss| %>
<div class="positive hidden">
  <% positive = [] %>
  <% @saved_searches.each do |ss| %>
    <% Analysis.where(keyword: ss.word).each do |a| %>
      <% a.analysis.each do |k, v| %>
        <% if k == "positive" %>
          <% positive << (v.split(",").first.to_s.delete!("[")) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= positive %>
</div>

<div class="negative hidden">
  <% positive = [] %>
  <% @saved_searches.each do |ss| %>
    <% Analysis.where(keyword: ss.word).each do |a| %>
      <% a.analysis.each do |k, v| %>
        <% if k == "negative" %>
          <% positive << (v.split(",").first.to_s.delete!("[")) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= positive %>
</div>

<div class="neutral hidden">
  <% positive = [] %>
  <% @saved_searches.each do |ss| %>
    <% Analysis.where(keyword: ss.word).each do |a| %>
      <% a.analysis.each do |k, v| %>
        <% if k == "neutral" %>
          <% positive << (v.split(",").first.to_s.delete!("[")) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= positive %>
</div>

  <%= ss.word %>
  <div class="chart"></div>
<% end %>
  


<!-- <div class="row user-header">
  <div class="col s4 offset-s2">
      <table class="centered hoverable responsive-table teal lighten-3">
        <thead>
          <h6>Current Saved Searches</h6>
          <tr>
            <th data-field="name">Word</th>
            <th data-field="boolean">Active?</th>
            <th></th>
          </tr>
        <thead>
          <tbody>
            <%# @saved_searches.each do |ss| %>
            <tr>
              <td><%#= ss.word %></td>
              <td><%#= ss.active? %></td>
            <td><%#= link_to "Deactivate", search_path(ss), method: "patch" %>
            </tr>
          </tbody>
          <%# end %>
      </table>
  </div>
</div>
 -->
