<div class="container center-align">
  <h2>Tweets</h2>
</div>
  <% @array_of_text = [] %>
  <% @tweets.each do |tweet| %>
  <% @array_of_text << "#{tweet.text}|||||" %>
  <% end %>

<%= form_tag "/analyses", method: "post" do  %>
    <%= hidden_field_tag :tweets, @array_of_text %>
    <%= hidden_field_tag :word, @word %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= submit_tag "Analyze" %>
<% end %>

  
<div class="row">
  <% @tweets.each do |tweet| %>
  <div class="col s12 m4">
    <div class="card blue-grey darken-1 tweet-cards z-depth-3 display-cards">
      <div class="card-content white-text">
        <span class="card-title"><%= @word %></span>

        <p> <%= tweet.text %> </p>

      </div>
      <div class="card-action card-foot">
        <a href="#">Link to tweet?</a>
        <!-- <a href='#' class="right">This is a link</a> -->
      </div>
    </div>
  </div>
  <% end %>
</div>
