
<!-- Dropdown Structure -->
<div>
<ul id="dropdown1" class="dropdown-content nav-item">
  <% if current_user %>
  <li><p><%= link_to "Search tweets", user_path(current_user) %></p></li>
  <li><p><%= link_to "Saved Searches", searches_path %></p></li>
  <li class="divider"></li>
  <% end %>
</ul>

<nav class="cyan darken-2" role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="/" class="brand-logo white-text" id="logo">tweetsum</a>
    <ul class="right hide-on-med-and-down">
      <% if current_user.nil? %>
        <li><%= link_to "Login with twitter", "/auth/twitter", class: "white-text" %></li>
      <% else %>
        <li><%= image_tag current_user.image_url, class: "responsive-img", id: "profile-pic" %></li>
        <li ><a class="dropdown-button white-text" href="#!" data-activates="dropdown1">Your Dashboard<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <li><%= link_to "Sign Out", logout_path, method: "delete", class: "white-text" %></li>
      <% end %>
    </ul>

    <!-- Mobile Navbar -->
    <ul id="nav-mobile" class="side-nav cyan darken-2">
      <% if current_user.nil? %>
        <li><%= link_to "login with twitter", "/auth/twitter", class: "white-text" %>
      <% else %>
        <li><%= link_to "Dashboard", user_path(current_user), class: "white-text" %></li>
        <li><%= link_to "Sign Out", logout_path, method: "delete", class: "white-text" %></li>
      <% end %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<div>
